/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 10, 2023, 11:13:26 AM
    Author     : Jimma University
*/

.button {
    -fx-background-color: green;
}

.button:selected {
    -fx-background-color: yellow;
}